---
title: Liaison UX Style Guide | Colors
fabricator: true
---

<h1>Colors</h1>

<p>
	The colors listed on this page still need to be used in line with WCAG contrast standards. Please use <a href="https://webaim.org/resources/contrastchecker/" target="_blank">https://webaim.org/resources/contrastchecker/</a> to check whether color contrast meets, at minimum, the <strong>WCAG AA</strong> standard.
</p>


{{#each toolkit.colors}}
	<div class="f-color-chips">
	{{#each this}}
		<div class="f-color-chip">
			<div class="f-color-chip__name">{{@key}}</div>
			<div class="f-color-chip__color">{{this}}</div>
		</div>
	{{/each}}
	</div>
{{/each}}
