---
title: Liaison UX Style Guide
fabricator: true
---

<h1>Liaison UXD Style Guide</h1>


<p>Welcome to the Liaison UX Style Guide.</p>
<p>This is a living, <strong>work in progress</strong>, collection of agreed-upon styles and best practices for the design and implementation of Liaison product components.</p>

<h5>Download the Style Guide</h5>
<p>This style guide was built using the <a href="https://fbrctr.github.io/docs/index.html">Fabricator framework</a>. You can download the latest version of the whole style guide (including the src and compiled dist files) from the github repo:</p> 
<a class="button small" href="https://github.com/jshuruyevaliaison/ux-style-guide">Go to Github Repo</a>
<p>To run the style guide locally on your computer. download the contents of the Github repo, and then follow the <a href=https://fbrctr.github.io/getting-started/working-with-fabricator.html">instructions from fabricator</a> to compile and run.</p>


<h5>Download Separate Assets</h5>
<p>If you would like to download just the compiled CSS, or any of the fonts used in the style guide, you may do so here:</p>
<a class="button small secondary" href="http://ux-liaison.liaison-intl.com/styleguide/assets/toolkit/styles/toolkit.css">View Full, Compiled CSS</a>
<a class="button small secondary" href="http://ux-liaison.liaison-intl.com/styleguide/assets/toolkit/resources/fonts/fontawesome.zip">Download FontAwesome</a>
<a class="button small secondary" href="http://ux-liaison.liaison-intl.com/styleguide/assets/toolkit/resources/fonts/scala.zip">Download Scala Font</a>
