---
title: Liaison UX Style Guide Installation
fabricator: true
---

<h1>Style Guide Installation</h1>

<h5>1. Download the Style Guide</h5>
<p>First things first, download the contents of the <a href="https://github.com/jshuruyevaliaison/ux-style-guide" target="_blank">Github repo</a>.</p> 
<hr/>
<h5>2. Make sure you have node.js and npm installed</h5>
<p>You can download node.js from the <a href="https://nodejs.org/en/docs/" target="_blank">node.js site</a>.</p>
<hr/>
<h5>3. Start the development environment</h5>
<p>In terminal, navigate to the your downloaded style guide folder, then use the following command to start the development environment:</p>
<code>$ npm start</code>
<p>This installs dependencies, compiles the site, and watches for changes to re-compile.</p>
<hr/>
<h5>4. Make your changes and edits</h5>
<p>Make your changes to the files inside <strong>/src</strong>.</p>
<p><strong>/src/assets/toolkit/styles/</strong> contains the .scss files with all of the button, typography, etc styles.</p>
<p><strong>/src/materials/</strong> contains the individual component pages with code and descriptions.</p>
<hr/>
<h5>5. Run an optimized build</h5>
<p>Once you're happy with your changes and you're ready to deploy, run the following command to run an optimized build</p>
<code>$ npm run build</code>