/*
 * Button styles
 */
a.button,
button {
  display: inline-block;
  font-size: 1em;
  padding: 0.8em 0.8em;
  vertical-align: middle;
  margin: 0 0 1em;
  text-align: center;
  border-radius: 4px;
  font-family: scala-sans-reg;
  color: $white;
  background-color: $primary-blue;
  border: 1px solid $primary-blue;
  cursor: pointer;

  &:hover {
    background-color: $secondary-blue;
    color: $white;
    text-decoration: none;
  }

  /* Button Colors */

  &.primary {
    color: $white;
    background-color: $primary-blue;
    border: 1px solid $primary-blue;

    &:hover {
      background-color: $secondary-blue;
      color: $white;
    }
  }

  &.secondary {
    color: $primary-blue;
    background-color: $white;
    border: 1px solid $primary-blue;

    &:hover {
      background-color: rgba(0, 118, 192, 0.05); /*change to hex*/
      color: $primary-blue;
    }
  }
  &.destructive {
    color: $red;
    background-color: $white;
    border: 1px solid $red;

    &:hover {
      background-color: #f7eff2;
      color: $red;
    }
  }

  &.disabled {
    color: $white;
    background-color: $gray;
    border: 1px solid $gray;

    &:hover{
      cursor: default;
    }
  }


  /* Button Sizes */

  &.large {
    font-size: 20px;
    padding: 20px 20px;
    min-width: 250px;
  }

  &.medium {
    font-size: 16px;
    padding: 13px 13px;
    min-width: 250px;
  }

  &.small {
    font-size: 14px;
    padding: 9px 9px;
    min-width: 175px;
  }

  &.tiny {
    font-size: 13px;
    padding: 5px 5px;
  }

  &.expand {
    display: block;
    width: 100%;
    padding-right: 0em;
    padding-left: 0em;
  }


  /*Border Radius */

  &.no-radius {
    border-radius: 0px;
  }

  &.pill {
    border-radius: 50px;
  }


}
