/**
 * Colors
 */

$primary-blue: #0076c0;
$secondary-blue: #234078;

$white: #ffffff;
$light-gray: #f7f7fb;
$gray: #c8c8ce;
$medium-gray: #75757d;
$dark-gray: #383d45;

$red: #c71d46;
$green: #2f864f;

$error-red: #880037;
