/**
 * Input Styles
 */


/*** Error Mixin ***/
@mixin error-message{
  border: 1px solid $error-red;
  margin-bottom: 5px;

  & ~ .form-hint{
    color: $error-red;
    margin-block-start: 0px;
    -webkit-margin-before: 0px;
    display: inline-block;
  }
}

/*** Standard Label ***/
.standard-label{
  margin-top: 20px;
}

/*** Text Input ****/
input[type=text], label {
     display:block;
 }

input[type=text] {
    border: 1px solid $gray;
    width: 550px;
    padding: 10px;
    font-size: 15px;
    font-family: scala-sans-reg;
    margin-top: 10px;
    margin-bottom: 20px;
 }

 .form-hint {
     display: none;
 }

 input[type=text]:invalid {
     @include error-message;
  }

  input[type=text]:disabled {
      border: 1px solid $gray;
      color: $medium-gray;
      background-color: $light-gray;
      width: 550px;
      padding: 10px;
      font-size: 15px;
      font-family: scala-sans-reg;
      margin-top: 10px;
   }



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $gray;
    width: 570px;
    padding: 10px;
    font-size: 15px;
    font-family: scala-sans-reg;
    margin-top: 10px;
    -webkit-border-radius: 0px;
    background-color: $white;
}

.selectdiv {
  position: relative;
}

/*To remove button from IE11*/
select::-ms-expand {
     display: none;
}

.selectdiv:after {
  content:"\f078";
  font-family: "Font Awesome 5 Pro";
  color: $primary-blue;
  left: 545px;
  top: 20px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $gray;
  width: 570px;
  padding: 10px;
  font-size: 15px;
  font-family: scala-sans-reg;
  margin-top: 10px;
  -webkit-border-radius: 0px;
  background-color: $white;
  -ms-word-break: normal;
  word-break: normal;
}

.selectdiv select:disabled{
  background-color: $light-gray;
  color: $medium-gray;
}

.selectdiv select:invalid {
  @include error-message;
 }

/**** Textarea ****/

textarea{
  border: 1px solid $gray;
  width: 550px;
  padding: 10px;
  font-size: 15px;
  font-family: scala-sans-reg;
  margin-top: 10px;
  display: block;
}

textarea:disabled{
  background-color: $light-gray;
  color: $medium-gray;
}

textarea:invalid{
  @include error-message;
}

/**** Checkbox ****/
.checkbox input[type="checkbox"] {
    opacity: 0;
    display: none;
}

.checkbox label {
    position: relative;
    display: inline-block;
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 25px;
    margin-bottom: 15px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 17px;
    width: 17px;
    border: 1px solid $dark-gray;
    left: 0px;
    top: -3px;
    cursor: pointer;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    top: 1px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
    color: $primary-blue;
}

.checkbox input[type="checkbox"]:checked + label::before {
    border-color: $primary-blue;
}

/*disabled checked state*/
.checkbox input[type="checkbox"]:checked:disabled + label::after {
    content: "";
    color: $medium-gray;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    border-color: $medium-gray;
    background-color: $gray;
}


/**** Radio Buttons ****/
.control {
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 27px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: -4px;
	left: 0;
	width: 20px;
	height: 20px;
	background: $white;
  border: 1px solid $dark-gray;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: $white;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: $gray;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: $medium-gray;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: $primary-blue;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: $medium-gray;
}

/*** Fieldset Styles ***/
fieldset{
  border: 0px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  margin-top: 20px;
}

legend{
  margin-bottom: 15px;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
